<% layout('../layout/default') %>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Job View – <%= filterData.location %></h1>
            <h5>Status: <span id="top-status"><%= status %></h5>
            <div class="latest-tweet-score"><span id="latestTweetScore">0</span></div>
            <div class="job-view">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#job-statistics" data-toggle="tab">Statistics</a></li>
                    <li><a href="#job-results" data-toggle="tab">Tweets</a></li>
                    <li><a href="#job-settings" data-toggle="tab">Job Details</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="job-statistics" class="tab-pane active">
                    <div class="row">
                        <div id="pie-chart" class="col-6"></div>
                        <div id="column-tweets" class="col-6"></div>
                    </div>
                    <div class="row" style="margin-top: 30px">
                        <div id="bar-tweets" class="col-12"></div>
                    </div>
                </div>
                <div id="job-results" class="tab-pane">
                    <h4>List of all tweets</h4>
                    <div id="job-tweets" class="well tweets">
                    <% for(var i in streamData) { %>
                        <%
                            if(streamData[i].sentiment.score > 0) {
                                color = 'green';
                            } else if(streamData[i].sentiment.score < 0) {
                                color = 'red';
                            } else {
                                color = 'black';
                            }
                        %>
                        <div style="color: <%= color %>"><b><%= streamData[i].sentiment.score %> | <%= streamData[i].user.name %> says:</b> <%= streamData[i].text %></div>
                    <% } %>
                    </div>
                </div>
                <div id="job-settings" class="tab-pane">
                    <div class="well">
                        ID: <b><%= workerId %></b><br>
                        Status: <b><span id="status"><%= status %></b><br>
                        Location: <b><%= filterData.location %></b><br>
                        Coordinates: <b>(<%= filterData.coordinates.SWLng %>, <%= filterData.coordinates.SWLat %>, <%= filterData.coordinates.NELng %>, <%= filterData.coordinates.NELat %>)</b><br>
                        Keywords: 
                        <% if(filterData.keywords.length !== 0) { %>
                            <b><%= filterData.keywords %> </b>
                        <% } else { %>
                            <b>No keywords provided</b>
                        <% } %><br>
                        Start: <b><%= timer.formattedStart %></b><br>
                        End: <b><%= timer.formattedStop %></b><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // Statistics
    var positivePercentage = (100 / <%= sentimentData.tweetCount %>) * <%= sentimentData.positiveTweets %> || 33,
        neutralPercentage =  (100 / <%= sentimentData.tweetCount %>) * <%= sentimentData.neutralTweets %> || 33,
        negativePercentage = (100 / <%= sentimentData.tweetCount %>) * <%= sentimentData.negativeTweets %> || 33,
        positiveTweets = <%= sentimentData.positiveTweets %> || 0,
        neutralTweets = <%= sentimentData.neutralTweets %> || 0,
        negativeTweets = <%= sentimentData.negativeTweets %> || 0,
        tweetCount = <%= sentimentData.tweetCount %> || 0,
        positiveScore = <%= sentimentData.sentimentScorePositive %> || 0,
        negativeScore = <%= sentimentData.sentimentScoreNegative %> || 0,
        sentimentScore = <%= sentimentData.sentimentScore %> || 0;

    $(document).ready(function() {

        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });

        //Pie chart
        pieChart = new Highcharts.Chart({
            chart: {
                renderTo: 'pie-chart',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor:'rgba(255, 255, 255, 0.1)'
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Sentimentent percentage',
                data: [
                    {
                        name: 'Positive Tweets',
                        color: '#96C800',
                        y: positivePercentage,
                        sliced: true,
                        selected: true
                    },
                    {
                        name: 'Neutral Tweets',
                        color: '#326897',
                        y: neutralPercentage
                    },
                    {
                        name: 'Negative Tweets',
                        color: '#C80000',
                        y: negativePercentage
                    },
                ]
            }]
        });

        // Column tweets
        columnTweets = new Highcharts.Chart({
            chart: {
                type: 'column',
                renderTo: 'column-tweets',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor:'rgba(255, 255, 255, 0.1)'
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },
            legend: {
                enabled: false
            },
            yAxis: {
                title: {
                    text: 'Sentiment Scores'
                }
            },
            xAxis: {
                labels: {
                    enabled: false
                }
            },
            plotOptions: {
                column: {
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        format: '<b>{point.y}</b> {point.name}'
                    }
                }
            },
            series: [{
                name: 'Positive Score',
                data: [{
                    name: 'Positive Score',
                    y: positiveScore,
                    color: '#96C800'
                }]
            }, {
                name: 'Score Difference',
                data: [{
                    name: 'Sentiment Score',
                    y: neutralTweets,
                    color: '#326897'
                }]
            }, {
                name: 'Negative Score',
                data: [{
                    name: 'Negative Score',
                    y: negativeScore,
                    color: '#C80000'
                }]
            }]
        });


        // Bar tweets
        barTweets = new Highcharts.Chart({
            chart: {
                type: 'bar',
                renderTo: 'bar-tweets',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                backgroundColor: 'rgba(255, 255, 255, 0.1)',
                height: 150
            },
            credits: {
                enabled: false
            },
            title: {
                text: null
            },
            legend: {
                enabled: false
            },
            yAxis: {
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                gridLineWidth: 0,
                minorGridLineWidth: 0,
            },
            xAxis: {
                labels: {
                    enabled: false
                },
                title: {
                    text: null
                },
                gridLineWidth: 0,
                minorGridLineWidth: 0,
            },
            plotOptions: {
                bar: {
                    stacking: 'percent',
                    groupPadding: 0.2,
                    pointPadding: 0,
                    dataLabels: {
                        enabled: true,
                        color: '#fff',
                        format: '<b>{point.y}</b> {point.name}'
                    }
                }
            },
            series: [{
                stack: 0,
                data: [{
                    name: 'Positive Tweets',
                    y: positiveTweets,
                    color: '#96C800'
                }]
            }, {
                stack: 0,
                data: [{
                    name: 'Neutral Tweets',
                    y: neutralTweets,
                    color: '#326897'
                }]
            }, {
                stack: 0,
                data: [{
                    name: 'Negative Tweets',
                    y: negativeTweets,
                    color: '#C80000'
                }]
            },
            {
                stack: 1,
                pointWidth: 30,
                data: [{
                    name: 'Tweets',
                    y: tweetCount,
                    color: '#000'
                }]
            }]
        });



    });

</script>